<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>z_spring01</display-name>
	<!--********************************************************************-->
	<!--클라이언트가 보내는 문자의 인코딩을 관리하는 객체로 CharacterEncodingFilter 객체를 설정-->
	<!--	CharacterEncodingFilter 객체가 관리하는 인코딩을 UTF-8 로 지정한다. -->
	<!--	이 설정이 없으면 클라이언트가 보낸 한글 데이터를 읽어 들일 수 없다,-->
	<!--********************************************************************-->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!--********************************************************************-->
	<!--CharacterEncodingFilter 객체가 관리하는 인코딩을 적용할 클라이언트의 접속 URL 패턴을 / 로 지정-->
	<!--********************************************************************-->
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--********************************************************************-->
	<!--<설정1>DispatcherServlet 클래스를 서블릿으로 등록하고 별칭을 "dispatcher" 로 지정한다. -->
	<!--<설정2>DispatcherServlet 클래스가 읽어 들여 사용할 개별 [스프링 객체 등록 파일]을 등록한다. -->
	<!--   [스프링 객체 등록 파일]은 2개 이상 등록 가능하고, 등록된 개별 [스프링 객체 등록 파일]끼리는 정보를 공유할 수 없다.-->
	<!--********************************************************************-->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<!-- 위 DispatcherServlet 클래스에서 사용할 파리미터명과 파라미터값을 설정.-->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
			<!--+++++++++++++++++++++++++++++++++++++++++++
			<참고>클래스 저장 경로에 [스프링 객체 등록 파일]을 저장하고 싶으면 다음 처럼한다.
			      <param-value>classpath:패키지명/공용SpringMVC설정파일명.xml/param-value>
			+++++++++++++++++++++++++++++++++++++++++++++++
			<참고>만약 <init-param>~</init-param>가 생략되면
			      자동으로 WEB-INF/DispatcherServlet클래스별칭-servlet.xml 가 [Spring MVC 설정 파일]이 된다.
			+++++++++++++++++++++++++++++++++++++++++++-->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--********************************************************************-->
	<!--위에서 등록한 DispatcherServlet 클래스가 사용하는 개별 [스프링 객체 등록 파일]에서  -->
	<!--   공용으로 사용할 정보를 소유한 공용 [스프링 객체 등록 파일]을 등록한다. -->
	<!--   여기에 등록된 [스프링 객체 등록 파일]에는 보통 DB 연동 관련 객체, 트랜잭션 관련 객체 등의 정보를 설정한다. -->
	<!--   개별 [스프링 객체 등록 파일] 없이 이 공용 [스프링 객체 등록 파일]에 개별 [스프링 객체 등록 파일] 안의 설정을-->
	<!--   모두 설정할 수도 있으나 관리 차원에서 분리한다.-->
	<!--********************************************************************-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
		<!--+++++++++++++++++++++++++++++++++++++++++++
		클래스 저장 경로에 [스프링 객체 등록 파일]을 저장하고 싶으면 다음 처럼한다.
		<param-value>classpath:패키지명/공용SpringMVC설정파일명.xml/param-value>
		+++++++++++++++++++++++++++++++++++++++++++-->
	</context-param>
	<listener><listener-class>org.springframework.web.context.ContextLoaderListener</listener-class></listener>
	<!--********************************************************************-->
	<!--Spring MVC에서 접속하는 [가상 URL 주소]의 패턴을 지정하고 이에 대응하는 DispatcherServlet 클래스를 지정 -->
	<!--	지정한 패턴의 [가상 URL 주소]로 접근하면 DispatcherServlet 클래스가 맞이하게 된다. -->
	<!--********************************************************************-->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>    <!--[주의] *.do 로 하면 css, js 파일 에 접근할 수 없다. -->
	</servlet-mapping>
</web-app>